# .github/workflows/checkout-external.yml
name: Checkout External Repo

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # чтобы можно было запустить вручную

jobs:
  checkout-external:
    runs-on: ubuntu-latest
    steps:


      - name: Checkout external public repository
        uses: actions/checkout@v4
        with:
          repository: di-ivi19/test_rep1
          ref: main


      - name: List files in external repo
        run: ls -la
